test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
package-copy.json
*.png
*.webp

static/uploads/

# ✅ ยกเลิก ignore ของ static (เพื่อ track ไฟล์อื่นใน static/)
!static/

# ✅ ยกเลิก ignore ของไฟล์ใน static ทั้งหมดยกเว้น uploads/
!static/*.png
!static/*.jpg
!static/*.webp
!static/*.jpeg
!static/*.svg
!static/*.gif